@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Lato;
}

:root {
    --primary-color: rgba(31, 31, 31, 0.852);
    --secondary-color: aliceblue;
    --terciary-color: orange;
    --terciary-complementary: rgba(185, 138, 49, 0.788);
    --elements-dark: black;
}