/*Style for banner on phones*/
.bannercontainer {
    height: 50vh;
    background-color: #0C1933;
    position: relative;
    overflow: hidden;
}

.bannertext1 {
    color: rgba(255, 255, 255, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16vw;
    transform: translate(-50%, -95%);
}

.bannertext2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13vw;
    transform: translate(-50%, -50%);
}

.bannertext3 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    transform: translate(-50%, 150%);
}

.backgroundimg {
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/*Breackpoint to modify the background Img on tablet*/
@media only screen and (min-width: 760px) {
    .backgroundimg {
        width: 100%;
        position: absolute;
    }

    .bannertext1 {
        transform: translate(-50%, -95%);
    }

    .bannertext2 {
        transform: translate(-50%, -50%);
    }

    .bannertext3 {
        transform: translate(-50%, 200%);
    }
}

/*Breackpoint to modify the background Img desktop*/
@media only screen and (min-width: 1024px) {
    .bannercontainer {
        height: 100vh;
        background-color: #0C1933;
    }

    .backgroundimg {
        width: 100%;
        position: absolute;
    }

    .bannertext1 {
        transform: translate(-50%, -95%);
    }

    .bannertext2 {
        transform: translate(-50%, -50%);
    }

    .bannertext3 {
        transform: translate(-50%, 200%);
    }
}

/* Style for slide, input range for change mode */
.slidecontainer {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --bg-bgi: url('../imgs/sun.svg');
    --bg-bgico: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -2.5px;
    top: -2.5px;
    background: var(--bg-bgi), var(--bg-bgico);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0C1933;
}

input:checked+.slider:before {
    -webkit-transform: translateX(155px);
    -ms-transform: translateX(155px);
    transform: translateX(155px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slidertext {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: .5rem;
    font-weight: bold;
    cursor: pointer;
}

/*Breackpoint to modify the slide on tablet and bigger devices*/
@media only screen and (min-width: 760px) {
    .switch {
        position: relative;
        display: inline-block;
        width: 350px;
        height: 40px;
    }

    .slider:before {
        height: 50px;
        width: 50px;
        left: -5px;
        top: -5px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(310px);
        -ms-transform: translateX(310px);
        transform: translateX(310px);
    }

    .slidertext {
        font-size: 1rem;
    }
}