/*Mobile version of first part of the  main section*/
.daylife {
    padding: 2rem;
    margin-top: 50px;
    opacity: .0;
}

.daylife[open] {
    display: block;
    animation: fade-in 2s forwards;
}

.item1 {
    grid-area: briefing;
    font-size: 38px;
    font-weight: 900;
    color: #007955;
    line-height: 100%;
    text-transform: uppercase;
}

.item2 {
    grid-area: title;
}

.daylife-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.daylife-text {
    font-size: 1rem;
    line-height: 140%;
}

.item3 {
    grid-area: ranking;
    display: flex;
    flex-wrap: wrap;
}

.ranking-box-1 {
    margin-right: 8px;
    flex: 1 1 250px;
}

.ranking-box-2 {
    flex: 1 1 250px;
}

.stars {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.stars-icon {
    display: flex;
    width: 32px;
}

.stars-text {
    font-size: 1rem;
    width: 108px;
}

.item4 {
    grid-area: image;
}

.grid-container {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:
        'briefing'
        'title'
        'ranking'
        'image';
    gap: 24px 48px;
    padding: 16px;
}

.daylife img {
    width: 100%;
}

/*Mobile version of second part of the  main section*/
.grid-container-2 {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:
        'title'
        'image'
        'ranking';
    gap: 24px 48px;
    padding: 16px;
}

/*Mobile version of third part of the  main section*/
.grid-container-3 {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:
        'title'
        'image'
        'image-2'
        'ranking';
    gap: 24px 48px;
    padding: 16px;
}

.item5 {
    grid-area: image-2;
}

/*Breakpoint to add less space between elements on tablets*/
@media only screen and (min-width: 760px) {

    /*First part of the main section*/
    .daylife {
        padding: 4rem;
    }

    .item1 {
        font-size: 32px;
        margin-right: 0px;
    }

    .daylife-title {
        font-size: 24px;
        text-align: left;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'briefing image'
            'title image'
            'ranking ranking';
        margin-bottom: 48px;
    }

    /*Second part of the main section*/
    .grid-container-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'image title '
            'ranking ranking';
        margin-bottom: 48px;
    }

    /*Third part of the main section*/
    .grid-container-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title  image'
            'image-2 image'
            'image-2 ranking';
        margin-bottom: 48px;
    }
}

/*Breakpoint to add less space between elements on desktop*/
@media only screen and (min-width: 1024px) {

    /*First part of the main section*/
    .daylife {
        padding: 8rem 8rem 0 8rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'briefing image'
            'title image'
            'ranking image';
        margin-bottom: 120px;
    }

    .item1 {
        font-size: 60px;
        margin-right: 180px;
        text-transform: uppercase;
        position: relative;
    }

    .daylife-title {
        font-size: 48px;
        text-align: right;
    }

    #align-left {
        text-align: left;
    }

    .daylife-text {
        line-height: 160%;
        text-align: justify;
    }

    /*Second part of the main section*/
    .grid-container-2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'image image title '
            'image image ranking';
        margin-bottom: 120px;
    }

    #margin-bottom {
        margin-bottom: -4%;
    }

    /*Third part of the main section*/
    .grid-container-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title image'
            'image-2 image'
            'image-2 ranking';
        margin-bottom: 120px;
    }
}